<dl class="app-check-your-answers app-check-your-answers--short">
	<div class="app-check-your-answers__contents">
		<dt class="app-check-your-answers__question">
        {%- if not (pagination.sort_by.length and pagination.sort_order.length) %}
            <a href="{{links.list}}?sort=name&amp;order=desc#list">
        {% elif pagination.sort_by == 'name' and pagination.sort_order == 'asc' %}
            <a href="{{links.list}}?sort=name&amp;order=desc#list">
        {% else %}
            <a href="{{links.list}}?sort=name&amp;order=asc#list">
        {% endif -%}
				Service name
			</a>
		</dt>
		{% if data.list_type == 'department' %}
		<dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
	      {%- if not (pagination.sort_by.length and pagination.sort_order.length) %}
            <a href="{{links.list}}?sort=organisation&amp;order=desc#list">
        {% elif pagination.sort_by == 'organisation' and pagination.sort_order == 'asc' %}
            <a href="{{links.list}}?sort=organisation&amp;order=desc#list">
        {% else %}
            <a href="{{links.list}}?sort=organisation&amp;order=asc#list">
        {% endif -%}
				Organisation
			</a>
		</dd>
		{% endif %}
		<dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
	      {%- if not (pagination.sort_by.length and pagination.sort_order.length) %}
            <a href="{{links.list}}?sort=type&amp;order=desc#list">
        {% elif pagination.sort_by == 'type' and pagination.sort_order == 'asc' %}
            <a href="{{links.list}}?sort=type&amp;order=desc#list">
        {% else %}
            <a href="{{links.list}}?sort=type&amp;order=asc#list">
        {% endif -%}
				Type
			</a>
		</dd>
		<dd class="app-check-your-answers__answer govuk-!-font-weight-bold">
			Journey
		</dd>
		<dd class="app-check-your-answers__change">
			&nbsp;
		</dd>
	</div>
	{%- for service in data.services %}
	<div class="app-check-your-answers__contents">
		<dt class="app-check-your-answers__question">
			{{ service.name }}
			<p class="govuk-body">{{ service.description }}</p>
		</dt>
		{% if data.list_type == 'department' %}
		<dd class="app-check-your-answers__answer">
			<abbr title="{{ service.organisation | organisationName }}" onclick="" tabindex="0">{{ service.organisation }}</abbr>
		</dd>
		{% endif %}
		<dd class="app-check-your-answers__answer">
			{{ service.type }}
		</dd>
		<dd class="app-check-your-answers__answer">
			<ol class="govuk-list govuk-list--number">
			{%- for step in service.journey %}
				<li>{{ step }}</li>
			{% endfor -%}
			</ol>
		</dd>
		<dd class="app-check-your-answers__change">
			<a href="{{ service.url.full }}">
			View<span class="govuk-visually-hidden"> {{ service.name }}</span>
			</a>
		</dd>
	</div>
	{% endfor -%}
</dl>