<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6">

<div class="govuk-grid-row">

	<div class="govuk-grid-column-one-quarter">
		<p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold govuk-!-margin-bottom-0">10</p>
		<p class="govuk-body govuk-!-font-size-19">
			<a href="{{ links.types.digital_by_default }}">Digital by default</a>
		</p>
	</div>
	<div class="govuk-grid-column-one-quarter">
		<p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold govuk-!-margin-bottom-0">10</p>
		<p class="govuk-body govuk-!-font-size-19">
			<a href="{{ links.types.information_site }}">Information site</a>
		</p>
	</div>
	<div class="govuk-grid-column-one-quarter">
		<p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold govuk-!-margin-bottom-0">10</p>
		<p class="govuk-body govuk-!-font-size-19">
			<a href="{{ links.types.paper_based }}">Paper-based</a>
		</p>
	</div>
	<div class="govuk-grid-column-one-quarter">
		<p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold govuk-!-margin-bottom-0">10</p>
		<p class="govuk-body govuk-!-font-size-19">
			<a href="{{ links.types.not_digital_by_default }}">Not digital by default</a>
		</p>
	</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-9">