{% extends "./layout.html" %}

{% block pageTitle %}
  List of services provided by the Ministry of Justice, UK
{% endblock %}

{% block beforeContent %}
{#{ govukPhaseBanner({
	"tag": {
		"text": "alpha"
	},
	"html": "This is a new service - your <a href=\"#\">feedback</a> will help us to improve it."
}) }#}

{{ govukBackLink({
	"href": links.back,
	"text": "Back"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      	<span class="govuk-caption-xl">Digital maturity</span>
        {{ data.title }}
      </h1>



    </div>
</div>
{% endblock %}
