{% extends "./layout.html" %}

{% block pageTitle %}
  List of services provided by the Ministry of Justice, UK
{% endblock %}

{% block content %}
<div class="govuk-width-container">
	
	{#{ govukPhaseBanner({
		"tag": {
			"text": "alpha"
		},
		"html": "This is a new service - your <a href=\"#\">feedback</a> will help us to improve it."
	}) }#}

	{{ govukBackLink({
		"href": links.back,
		"text": "Back"
	}) }}

	<main class="govuk-main-wrapper">

		<div class="govuk-grid-row">
		    <div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-xl">
					Organisation name
				</h1>

				<p class="govuk-body-l">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore recusandae in quasi vitae, sapiente dignissimos, iusto exercitationem. Quidem blanditiis expedita minus numquam fugit, suscipit itaque, obcaecati molestias excepturi nulla facilis.</p>

				<a href="./service-name">Service name 1</a>
		      
		    </div>
		</div>

	</main>

</div>
{% endblock %}
