{% extends "./layout.html" %}

{% block pageTitle %}
  List of services provided by the Ministry of Justice, UK
{% endblock %}

{% block pageScripts %}

{% endblock %}

{% block beforeContent %}
{#{ govukPhaseBanner({
	"tag": {
		"text": "alpha"
	},
	"html": "This is a new service - your <a href=\"#\">feedback</a> will help us to improve it."
}) }#}

{{ govukBackLink({
	"href": links.back,
	"text": "Back"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{ data.organisation.name }}
		</h1>

		{% if data.organisation.description.length %}<p class="govuk-body-l">{{ data.organisation.description }}</p>{% endif %}

    </div>
</div>

{% include "./includes/_stats.html" %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h2 id="list" class="govuk-heading-l">
			Services
		</h2>

		{% if data.services.length %}

			{% include "./includes/_list.html" %}

		{% else %}

			<p class="govuk-body">There are no &#8220;{{ data.title | lower }}&#8221; services provided by {{ data.organisation.name | default("Ministry of Justice") }}</p>

		{% endif %}
	</div>
</div>

{% endblock %}
