{% extends "./layout.html" %}

{% block pageTitle %}
  List of services provided by the Ministry of Justice, UK
{% endblock %}

{% block beforeContent %}
{#{ govukPhaseBanner({
	"tag": {
		"text": "alpha"
	},
	"html": "This is a new service - your <a href=\"#\">feedback</a> will help us to improve it."
}) }#}

{{ govukBackLink({
	"href": links.back,
	"text": "Back"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{ data.organisation.name }}
		</h1>

		{% if data.organisation.description.length %}<p class="govuk-body-l">{{ data.organisation.description }}</p>{% endif %}

		<ul class="govuk-list">
		{%- for service in data.services %}
			<li><a class="govuk-link" href="./{{ service.slug }}">{{ service.name }}</a></li>
		{% endfor -%}
		</ul>

    </div>
</div>
{% endblock %}
